.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 304px;
  height: 423px;
  background: #191919;
  border-radius: 6px;
  padding: 25px;
}

.list {
  margin-top: 30px;
}

.info {
  display: flex;
  justify-content: space-between;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #576067;
  text-transform: capitalize;
}

.link:hover {
  color: #f6f6f7;
}

.link.active {
  color: #8b57c6;
}
